<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Categories</h2>
    <button class="btn btn-primary add-category-btn">
      <i class="fas fa-plus"> </i>
      Add Category
    </button>
  </div>
  <div class="row g-4">
    <div class="col-md-4">
      <div class="card category-card">
        <img
          alt="Man wearing black long sleeve shirt"
          height="400"
          src="https://storage.googleapis.com/a1aa/image/cVgTQIdJCeWWACs0bOkDiez2vweGkmZkeSQtA0va1ft4sBZcC.jpg"
          width="600"
        />
        <div class="card-body">
          <h5 class="card-title">Men Clothes</h5>
          <p class="card-text">24 items</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card category-card">
        <img
          alt="Woman wearing striped shirt"
          height="400"
          src="https://storage.googleapis.com/a1aa/image/m1cjjyqHoeTzbSTaMGHWKfSCGwcWnB4jUOzBjKIjBFqgNIjTA.jpg"
          width="600"
        />
        <div class="card-body">
          <h5 class="card-title">Women Clothes</h5>
          <p class="card-text">12 items</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card category-card">
        <img
          alt="Man wearing accessories including sunglasses and necklace"
          height="400"
          src="https://storage.googleapis.com/a1aa/image/veaISU7WyPzDUKbx4alGdifygJbubisydg13UPZUOzwiNIjTA.jpg"
          width="600"
        />
        <div class="card-body">
          <h5 class="card-title">Accessories</h5>
          <p class="card-text">43 items</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card category-card">
        <img
          alt="Close-up of a white cotton shirt"
          height="400"
          src="https://storage.googleapis.com/a1aa/image/HLJ0eM0enVmUWUXSL2k4yTVIGFPC2HJf37mSpleLLnUh2gMOB.jpg"
          width="600"
        />
        <div class="card-body">
          <h5 class="card-title">Cotton Clothes</h5>
          <p class="card-text">31 items</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card category-card">
        <img
          alt="Woman wearing a white summer dress"
          height="400"
          src="https://storage.googleapis.com/a1aa/image/bs6mNAZRKzoWNBKTjNp4ALbYOKRmfeAk9a9J9JABeJdXbQGnA.jpg"
          width="600"
        />
        <div class="card-body">
          <h5 class="card-title">Summer Clothes</h5>
          <p class="card-text">26 items</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card category-card">
        <img
          alt="Man wearing a suit and adjusting his watch"
          height="400"
          src="https://storage.googleapis.com/a1aa/image/XToH5HC8ss4XANzZsHfQ4MZIrfv7Hirj7uJgRvz5t18qNIjTA.jpg"
          width="600"
        />
        <div class="card-body">
          <h5 class="card-title">Wedding Clothes</h5>
          <p class="card-text">52 items</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card category-card">
        <img
          alt="Woman wearing sunglasses in a spring setting"
          height="400"
          src="https://storage.googleapis.com/a1aa/image/4iXcrOY9e8xMJyFk04ZdYPhhEUxulYz2gVgNz9MBKpDyGkxJA.jpg"
          width="600"
        />
        <div class="card-body">
          <h5 class="card-title">Spring Collection</h5>
          <p class="card-text">52 items</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card category-card">
        <img
          alt="Man wearing a casual denim shirt"
          height="400"
          src="https://storage.googleapis.com/a1aa/image/RgEf2uEfLkskeJQFjzERfStseo1KrT0Mv40eebes5cXrhNIjTA.jpg"
          width="600"
        />
        <div class="card-body">
          <h5 class="card-title">Casual Clothes</h5>
          <p class="card-text">52 items</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card category-card">
        <img
          alt="Man wearing a hat and sunglasses"
          height="400"
          src="https://storage.googleapis.com/a1aa/image/nJnSesuWdbRCHacdTdd3G82DvPFg0w8mpVnXLYursfNlNIjTA.jpg"
          width="600"
        />
        <div class="card-body">
          <h5 class="card-title">Hats</h5>
          <p class="card-text">26 items</p>
        </div>
      </div>
    </div>
  </div>
</div>
