<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <a class="text-secondary" href="#">
      <i class="fas fa-arrow-left"> </i>
      Back
    </a>
    <h1 class="h4">Women Clothes</h1>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          Products
          <span class="text-secondary"> 12 </span>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex align-items-center">
            <img
              alt="Women Striped T-Shirt"
              height="50"
              src="https://storage.googleapis.com/a1aa/image/4tAGBxPocEYnM10dk6OsYD9hhfEPNVvvxcMctdgb00OANkxJA.jpg"
              width="50"
            />
            <span class="ms-3"> Women Striped T-Shirt </span>
          </li>
          <li class="list-group-item d-flex align-items-center">
            <img
              alt="Women White T-Shirt"
              height="50"
              src="https://storage.googleapis.com/a1aa/image/9tPl2805TPLcJp8nsC9Um3cLANErEq9suYzV3JO8JsUfMkxJA.jpg"
              width="50"
            />
            <span class="ms-3"> Women White T-Shirt </span>
            <button class="btn ms-auto">
              <i class="fas fa-pen"> </i>
            </button>
            <button class="btn">
              <i class="fas fa-trash"> </i>
            </button>
          </li>
          <li class="list-group-item d-flex align-items-center">
            <img
              alt="Women White T-Shirt"
              height="50"
              src="https://storage.googleapis.com/a1aa/image/9tPl2805TPLcJp8nsC9Um3cLANErEq9suYzV3JO8JsUfMkxJA.jpg"
              width="50"
            />
            <span class="ms-3"> Women White T-Shirt </span>
          </li>
          <li class="list-group-item d-flex align-items-center">
            <img
              alt="Women Black Dress"
              height="50"
              src="https://storage.googleapis.com/a1aa/image/UftXiRDsxOyHZajHAdiJy6fBfZqqUR9hZHDhjR1SevCePDZcC.jpg"
              width="50"
            />
            <span class="ms-3"> Women Black Dress </span>
          </li>
          <li class="list-group-item d-flex align-items-center">
            <img
              alt="Women Striped T-Shirt"
              height="50"
              src="https://storage.googleapis.com/a1aa/image/4tAGBxPocEYnM10dk6OsYD9hhfEPNVvvxcMctdgb00OANkxJA.jpg"
              width="50"
            />
            <span class="ms-3"> Women Striped T-Shirt </span>
          </li>
          <li class="list-group-item d-flex align-items-center">
            <img
              alt="Women White T-Shirt"
              height="50"
              src="https://storage.googleapis.com/a1aa/image/9tPl2805TPLcJp8nsC9Um3cLANErEq9suYzV3JO8JsUfMkxJA.jpg"
              width="50"
            />
            <span class="ms-3"> Women White T-Shirt </span>
          </li>
          <li class="list-group-item d-flex align-items-center">
            <img
              alt="Women White T-Shirt"
              height="50"
              src="https://storage.googleapis.com/a1aa/image/9tPl2805TPLcJp8nsC9Um3cLANErEq9suYzV3JO8JsUfMkxJA.jpg"
              width="50"
            />
            <span class="ms-3"> Women White T-Shirt </span>
          </li>
          <li class="list-group-item d-flex align-items-center">
            <img
              alt="Women Black Dress"
              height="50"
              src="https://storage.googleapis.com/a1aa/image/UftXiRDsxOyHZajHAdiJy6fBfZqqUR9hZHDhjR1SevCePDZcC.jpg"
              width="50"
            />
            <span class="ms-3"> Women Black Dress </span>
          </li>
        </ul>
        <div class="card-footer text-center">
          <span class="add-product-btn">
            <i class="fas fa-plus"> </i>
            Add Product
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Category Visibility</h5>
          <div class="form-check form-switch">
            <input
              checked=""
              class="form-check-input"
              id="visibilitySwitch"
              type="checkbox"
            />
            <label class="form-check-label" for="visibilitySwitch">
              Visible on site
            </label>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Category Info</h5>
          <div class="mb-3">
            <label class="form-label" for="categoryName"> Category Name </label>
            <input
              class="form-control"
              id="categoryName"
              type="text"
              value="Women Clothes"
            />
          </div>
          <div class="mb-3">
            <label class="form-label" for="categoryImage"> Image </label>
            <div
              class="border p-3 text-center"
              style="border-radius: 4px; border: 1px dashed #ced4da"
            >
              <button class="btn btn-outline-secondary">Add File</button>
              <p class="text-secondary">Or drag and drop files</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end mt-3">
    <button class="btn btn-secondary me-2">Cancel</button>
    <button class="btn btn-primary">Save</button>
  </div>
</div>
